.slider-height{
    height: 300px;
}
.my-caption{
    background: rgba(0,0,0,0.3);
    margin-bottom: 50px;
}
.h-220{ height: 420px; }
.h-50{ height: 50px; }
.h-600{ height: 600px; }
.h-200{ height: 200px; }
.h-110{ height: 110px; }
.h-100 { height: 100px; }
.h-250{ height: 250px; }
.h-40{ height: 40px; }


@media screen and (max-width: 660px){
    .h-220{
        height: 300px;
    }
    .my-caption{
        margin-bottom: 10px;
        padding: 10px;

    }
    .my-caption p{
        line-height: 18px;
        text-align: justify;
    }
    .my-caption h2{

    }
}